<?xml version="1.0"?>
<config>
    <modules>
        <Bennoislost_EasyNavigation>
            <version>0.0.1</version>
        </Bennoislost_EasyNavigation>
    </modules>
    <global>
        <blocks>
            <bennoislost_easynavigation>
                <class>Bennoislost_EasyNavigation_Block</class>
            </bennoislost_easynavigation>
        </blocks>
        <models>
            <bennoislost_easynavigation>
                <class>Bennoislost_EasyNavigation_Model</class>
            </bennoislost_easynavigation>
        </models>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <catalog_add_topmenu_items>
                        <type>disabled</type>
                    </catalog_add_topmenu_items>
                    <bennoislost_easynavigation_add_topmenu_items>
                        <class>bennoislost_easynavigation/observer</class>
                        <method>addCatalogToTopmenuItems</method>
                    </bennoislost_easynavigation_add_topmenu_items>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <bennoislost_easynavigation>
                    <file>bennoislost/easy-navigation.xml</file>
                </bennoislost_easynavigation>
            </updates>
        </layout>
    </frontend>
</config>
